<div class="page page-dashboard">

  <div class="row">

    <!-- /col -->
  <div class="col-md-4">
      <!-- tile -->
      <section class="tile bg-greensea widget-appointments" fullscreen="isFullscreen05" ng-controller="AppointmentsWidgetCtrl">

        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font">Appointments</h1>
          <ul class="controls">
            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

              <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href tile-control-toggle>
                    <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                    <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                  </a>
                </li>
                <li>
                  <a href tile-control-refresh ng-click="ajaxFaker()">
                    <fa name="refresh"></fa> Refresh
                  </a>
                </li>
                <li>
                  <a href tile-control-fullscreen ng-click="isFullscreen05 = !isFullscreen05">
                    <fa name="expand"></fa> Fullscreen
                  </a>
                </li>
                <li>
                  <a href tile-control-lightbox>
                    <fa name="magnet"></fa> Open in Lightbox
                  </a>
                </li>

              </ul>

            </li>
            <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
          </ul>
        </div>
        <!-- /tile header -->

        <!-- tile body -->
        <div class="tile-body">
          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-md-6 text-center">

              <h4 class="text-light">Mzansi Africa</h4>
              <clock radius="60"></clock>
              <span class="text-light">30&deg;C</span>

            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-md-6 b-l text-center">
              <span class="day">{{date | date:'dd'}}</span><br/>
              <span class="month">{{date | date:'MMMM'}}</span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->
        </div>
        <!-- /tile body -->

        <!-- tile footer -->
        <div class="tile-footer dvd dvd-top mt-20">

          <wrap-owlcarousel class="owl-carousel" data-options="{
          autoPlay: 5000,
          stopOnHover: true,
          slideSpeed : 300,
          paginationSpeed : 400,
          navigation: true,
          navigationText : ['<i class=\'fa fa-chevron-left\'></i>','<i class=\'fa fa-chevron-right\'></i>'],
          singleItem : true}">

            <div>
              <p class="text-center text-strong"><i class="fa fa-clock-o"></i> 16:00, <small class="text-thin">Estimated time: 2 hours</small></p>
              <p>
                <h5 class="mt-10 mb-0 text-strong">Release Update</h5>
                <small class="text-thin text-transparent-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</small>
              </p>
            </div>

            <div>
              <p class="text-center text-strong"><i class="fa fa-clock-o"></i> 19:00, <small class="text-thin">Estimated time: 5 hours</small></p>
              <p>
                <h5 class="mt-10 mb-0 text-strong">Make a Backup</h5>
                <small class="text-thin text-transparent-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</small>
              </p>
            </div>

            <div>
              <p class="text-center text-strong"><i class="fa fa-clock-o"></i> 22:45, <small class="text-thin">Estimated time: 8 hours 45 minutes</small></p>
              <p>
                <h5 class="mt-10 mb-0 text-strong">Buy Tickets</h5>
                <small class="text-thin text-transparent-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</small>
              </p>
            </div>

          </wrap-owlcarousel>

        </div>
        <!-- /tile footer -->

      </section>
      <!-- /tile -->
    </div>


    <!-- col -->
    <div class="col-md-4">

      <!-- /tile -->

      <!-- tile -->
      <section class="tile widget-todo" fullscreen="isFullscreen04" ng-controller="TodoWidgetCtrl">

        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>Todo </strong>List</h1>
          <ul class="controls">
            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

              <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href tile-control-toggle>
                    <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                    <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                  </a>
                </li>
                <li>
                  <a href tile-control-refresh ng-click="ajaxFaker()">
                    <fa name="refresh"></fa> Refresh
                  </a>
                </li>
                <li>
                  <a href tile-control-fullscreen ng-click="isFullscreen04 = !isFullscreen04">
                    <fa name="expand"></fa> Fullscreen
                  </a>
                </li>
                <li>
                  <a href tile-control-lightbox>
                    <fa name="magnet"></fa> Open in Lightbox
                  </a>
                </li>

              </ul>

            </li>
            <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
          </ul>
        </div>
        <!-- /tile header -->

        <!-- tile body -->
        <div class="tile-body lined-paper">

          <form class="form-horizontal" role="form" ng-submit="addTodo()">
            <label for="todo" class="text-strong mb-0">Add Todo: </label>
            <div class="form-group mb-0">
              <div class="col-sm-10">
                <input type="text" class="form-control input-unstyled" id="todo" ng-model="todo" placeholder="type todo here..." required>
              </div>
              <div class="col-sm-2">
                <button type="submit" class="btn btn-link"><i class="fa fa-chevron-right text-lg"></i></button>
              </div>
            </div>
          </form>

          <ul class="todo-list list-unstyled">
            <li ng-repeat="todo in todos" ng-class="{completed: todo.completed, editing: todo == editedTodo}">

              <div class="view">
                <label class="checkbox checkbox-custom m-0 text-muted inline">
                  <input type="checkbox" ng-checked="todo.completed" ng-model="todo.completed"><i></i>
                </label>
                <span ng-dblclick="editTodo(todo)">{{todo.text}}</span>
                <a href="javascriph:;" class="text-danger remove-todo pull-right" ng-click="removeTodo(todo)" aria-label="Remove">
                  <i class="fa fa-times"></i>
                </a>
              </div>

              <form ng-submit="doneEditing(todo)">
                <input class="form-control edit input-unstyled mb-0" ng-trim="false" ng-model="todo.text" ng-blur="doneEditing(todo)" todo-escape="revertEditing(todo)" todo-focus="todo == editedTodo">
              </form>

            </li>
          </ul>

        </div>
        <!-- /tile body -->

      </section>
      <!-- /tile -->

    </div>
    <!-- /col -->


    <!-- col -->
    <div class="col-md-4">

      <section class="tile bg-slategray widget-calendar" fullscreen="isFullscreen05">

        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>Mini </strong>Calendar</h1>
          <ul class="controls">
            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

              <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href tile-control-toggle>
                    <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                    <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                  </a>
                </li>
                <li>
                  <a href tile-control-refresh ng-click="ajaxFaker()">
                    <fa name="refresh"></fa> Refresh
                  </a>
                </li>
                <li>
                  <a href tile-control-fullscreen ng-click="isFullscreen05 = !isFullscreen05">
                    <fa name="expand"></fa> Fullscreen
                  </a>
                </li>
                <li>
                  <a href tile-control-lightbox>
                    <fa name="magnet"></fa> Open in Lightbox
                  </a>
                </li>

              </ul>

            </li>
            <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
          </ul>
        </div>
        <!-- /tile header -->

        <!-- tile body -->
        <div class="tile-body p-0" ng-controller="CalendarWidgetCtrl">
          <uib-datepicker ng-model="dt" show-weeks="false" class="datepicker"></uib-datepicker>
        </div>
        <!-- /tile body -->

      </section>
      <!-- /tile -->

    </div>
    <!-- /col -->


  </div>
  <!-- /row -->


  <!-- row -->
  <div class="row">
    <!-- col -->
    <div class="col-md-12">
      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen06">

        <!-- tile header -->
        <div class="tile-header dvd dvd-btm" ng-controller="SplashDemoCtrls">
          <h1 class="custom-font"><strong>Leave </strong>Progress</h1>
                     
            <script type="text/ng-template" id="mySplashContents.html">
              <div class="modal-header">
                <h3 class="modal-title custom-font">Apply Leave</h3>
              </div>
                <form name="form" class="form-validation mt-20"  novalidate>

      <p class="help-block text-left">
         I wish to apply for leave as follows:
      </p>
        
        <div class="form-group">
                    
            <md-input-container>
              <label >Leave</label>
                      
              <md-select ng-model="leave">
                <md-option ng-repeat="leaves in arrayleaves" value="{{leaves}}">{{leaves}}</md-option>
              </md-select>
                        
            </md-input-container>
                      
       </div>
        
    
        <div class="form-group">
                <label class="col-sm-3 control-label">days</label>
            <div class="col-sm-9">
                <input type="number" ng-model="days" class="form-control">
            </div>
        </div>
        
        <div class="form-group">
                <label class="col-sm-3 control-label">from</label>
            <div class="col-sm-9">
                <input type="date" ng-model="fromDate" class="form-control">
            </div>
        </div>
        
        <div class="form-group">
                <label class="col-sm-3 control-label">to</label>
            <div class="col-sm-9">
                <input type="date" ng-model="toDate" class="form-control">
            </div>
        </div>


      <div class="form-group text-left">
         <label class="checkbox checkbox-custom checkbox-custom-sm inline-block">

        </label>
      </div>
    </form>

        
              <div class="modal-footer">
                <button class="btn btn-default btn-border" ng-click="applyLeave()">Submit</button>
                <button class="btn btn-default btn-border" ng-click="cancel()">Cancel</button>
              </div>
            </script>

            
                <button class="btn btn-primary mb-10" ng-click="openSplash($event)" data-options="splash-2 splash-ef-5">Apply for Leave</button>
         
          
          <ul class="controls">
            <li ng-controller="DaterangepickerCtrl">
              <a href="javascript:;" daterangepicker="rangeOptions" date-begin="startDate" date-end="endDate">
                <span>{{startDate}} - {{endDate}}</span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
              </a>
            </li>

            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

              <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href tile-control-toggle>
                    <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                    <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                  </a>
                </li>
                  
                <li>
                  <a href tile-control-refresh ng-click="ajaxFaker()">
                    <fa name="refresh"></fa> Refresh
                  </a>
                </li>
                <li>
                  <a href tile-control-fullscreen ng-click="isFullscreen06 = !isFullscreen06">
                    <fa name="expand"></fa> Fullscreen
                  </a>
                </li>
                <li>
                  <a href tile-control-lightbox>
                    <fa name="magnet"></fa> Open in Lightbox
                  </a>
                </li>

              </ul>

            </li>
            <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
          </ul>
        </div>
        <!-- /tile header -->
 
        <!-- tile body -->
        <div class="tile-body table-custom" ng-controller="ProjectProgressCtrl">

          <div class="table-responsive"> 
            <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-custom">
              <thead>
              <tr>
                <th>ID</th>
                <th>Leave</th>
                <th>Days</th>
                <th>From</th>  
                <th>To</th>
                <th>Applied Date</th>
                <th>Status</th>  
                <th>Comment</th> 
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="lv in Leaves">
                <td>{{ $index+1 }}</td>
                <td>{{ lv.leave_type }}</td>
                <td>{{ lv.num_of_work_days }}</td>
                <td>{{lv.start}}</td>
                <td>{{lv.end}}</td>
                <td>{{lv.applied_date}}</td>
                <th>{{lv.results.isApproved}}</th>
                <th>{{lv.results.comments}}</th>  
                <td ng-controller="SplashDemoCtrl">
              

            <script type="text/ng-template" id="mySplashContent.html">
              <div class="modal-header">
                <h3 class="modal-title custom-font">Edit Leave</h3>
              </div>
              <div class="modal-body">
                  <form name="form" class="form-validation mt-20"  novalidate>

      <p class="help-block text-left">
         I wish to apply for leave as follows:
      </p>
        
        <div class="form-group">
                    
            <md-input-container>
              <label >Leave</label>
                      
              <md-select ng-model="leave">
                <md-option ng-repeat="leaves in arrayleaves" value="{{leaves}}">{{leaves}}</md-option>
              </md-select>
                        
            </md-input-container>
                      
       </div>
        
    
        <div class="form-group">
                <label class="col-sm-3 control-label">days</label>
            <div class="col-sm-9">
                <input type="number" ng-model="days" class="form-control">
            </div>
        </div>
        
        <div class="form-group">
                <label class="col-sm-3 control-label">from</label>
            <div class="col-sm-9">
                <input type="date" ng-model="fromDate" class="form-control">
            </div>
        </div>
        
        <div class="form-group">
                <label class="col-sm-3 control-label">to</label>
            <div class="col-sm-9">
                <input type="date" ng-model="toDate" class="form-control">
            </div>
        </div>


      <div class="form-group text-left">
         <label class="checkbox checkbox-custom checkbox-custom-sm inline-block">

        </label>
      </div>
    </form>


              </div>
              <div class="modal-footer">
                <button class="btn btn-default btn-border" ng-click="applyLeave()">Submit</button>
                <button class="btn btn-default btn-border" ng-click="cancel()">Cancel</button>
              </div>
            </script>

            
                <button class="btn btn-primary mb-10 btn-xs" ng-click="openSplash($event)" data-options="splash-2 splash-ef-5">edit</button>
                <button class="btn btn-primary mb-10 btn-xs" >delete</button>

                </td>  
              </tr>
              </tbody>
            </table>
          </div> </div>
      </section>
    </div>
  
  </div>
<div class="page page-datatables" ng-controller="TablesDatatablesCtrl">
      <!-- page content -->
  <div class="pagecontent">


    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen03">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Responsive </strong>Table</h1>
            <ul class="controls">
              <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

                <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                  <li>
                    <a href tile-control-toggle>
                      <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                      <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                    </a>
                  </li>
                  <li>
                    <a href tile-control-refresh ng-click="ajaxFaker()">
                      <fa name="refresh"></fa> Refresh
                    </a>
                  </li>
                  <li>
                    <a href tile-control-fullscreen ng-click="isFullscreen03 = !isFullscreen03">
                      <fa name="expand"></fa> Fullscreen
                    </a>
                  </li>
                  <li>
                    <a href tile-control-lightbox>
                      <fa name="magnet"></fa> Open in Lightbox
                    </a>
                  </li>

                </ul>

              </li>
              <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
            </ul>
          </div>
          <!-- /tile header -->

          <!-- tile body -->
          <div class="tile-body"  ng-controller="ResponsiveDatatableCtrl as showCase">

            <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="table table-custom"></table>

          </div>
          <!-- /tile body -->

        </section>
          
        </div>
      </div>
    </div>
</div>





          <!-- tile body -->
         
          <!-- /tile body -->

      


